---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title"></span>
    <span class="gpt-subtitle">痛饮狂歌空度日,飞扬跋扈为谁雄. </span> 
  </div>
  <!--<p mt-1 op-60>本站Ai服务由 Gemini Pro 提供.</p>-->
</header>
