---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">WISFRAM</span>
    <span class="gpt-subtitle">只做纯天然保护环境的产品</span>
  </div>
  <p mt-1 op-60>本站服务由 Gemini Pro 提供.</p>
</header>
